<section id="price">
    <h2>{{- content.pricingHeader -}}</h2>

    <div class="pricing-table-parent ">
        <div class="pricing-card pricing-card-team ">
            <h4>Team License:
                <span>$229.00</span>
            </h4>
            <ul>
                <li class="hanging-indent">
                    5 Lifetime licenses for Scaffold 1.0 to use with your team
                </li>
                <li class="hanging-indent">
                    40 Unique Animations and Prototypes
                </li>
                <li class="hanging-indent">
                    160 Animation and Prototype Variations
                </li>
                <li class="hanging-indent">
                    Documentation for Using and Integrating Scaffold into your Workflow
                </li>
                <li class="hanging-indent">
                    Free updates until Dec 2020
                </li>
                <li class="hanging-indent">
                    One hour video call to talk about Scaffold, how to make the most of it use it and how to use Scaffold into your workflow
                </li>
            </ul>
            <a class="cta-default-layout cta-secondary" href="/#mc_embed_signup">Buy Team License</a>
        </div>
        <div class="pricing-card pricing-card-pro">
            <h3>
                Pro License:
                <span>$99.00</span>
            </h3>
            <ul>
                <li class="hanging-indent">
                    1 Lifetime license for Scaffold 1.0
                </li>
                <li class="hanging-indent">
                    40 Unique Animations and Prototypes
                </li>
                <li class="hanging-indent">
                    160 Animation and Prototype Variations
                </li>
                <li class="hanging-indent">
                    Documentation for Using and Integrating Scaffold into your Workflow
                </li>
                <li class="hanging-indent">
                    Twitter & Email Support
                </li>
                <li class="hanging-indent">
                    Free updates until Dec 2020
                </li>
            </ul>
            <a class="cta-default-layout cta-primary" href="/#mc_embed_signup">Buy Pro License</a>
        </div>
    </div>

    <!--     <table class="table">
        <thead>
            <!-- <tr>
                  <th colspan="2">Package Options</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h3>
                        Single License: $79.00
                    </h3>
                </td>
                <td>
                    <h3>
                        Team License: $229.00
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li class="hanging-indent">
                            1 Lifetime license for Scaffold 1.0
                        </li>
                        <li class="hanging-indent">
                            40 Unique Animations and Prototypes
                        </li>
                        <li class="hanging-indent">
                            160 Animation and Prototype Variations
                        </li>
                        <li class="hanging-indent">
                            Documentation for Using and Integrating Scaffold into your
                                          Workflow
                        </li>
                        <li class="hanging-indent">
                            Twitter & Email Support
                        </li>
                        <li class="hanging-indent">
                            Free updates until Dec 2020
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li class="hanging-indent">
                            5 Lifetime licenses for Scaffold 1.0 to use with your team
                        </li>
                        <li class="hanging-indent">
                            40 Unique Animations and Prototypes
                        </li>
                        <li class="hanging-indent">
                            160 Animation and Prototype Variations
                        </li>
                        <li class="hanging-indent">
                            Documentation for Using and Integrating Scaffold into your
                                          Workflow
                        </li>
                        <li class="hanging-indent">
                            Free updates until Dec 2020
                        </li>
                        <li class="hanging-indent">
                            One hour video call to talk about Scaffold, how to best use it and
                                          how to integrate Scaffold into your workflow
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="cta-default-layout cta-primary" href="/#mc_embed_signup">{{- content.launchDayDiscount -}}</a>
                </td>
                <td>
                    <a class="cta-default-layout" href="/#mc_embed_signup">{{- content.launchDayDiscount -}}</a>
                </td>
            </tr>
        </tbody>
    </table> -->
</section>
