<section id="price">
    <h2>{{- content.pricingHeader -}}</h2>

    <div class="pricing-table-parent ">
        <div class="pricing-card pricing-card-team ">
            <h4>
                Team License:
                <span>$199.00</span>
            </h4>
            <ul>
                <li class="hanging-indent">
                    5 Lifetime licenses for Scaffold 1.0 to use with your team
                </li>
                <li class="hanging-indent">
                    64 Unique Base Scaffold Prototypes with Animations
                </li>
                <li class="hanging-indent">
                    221 variations on the Base prototypes, offering a wide range of flexibility and options
                </li>
                <li class="hanging-indent">
                    285 Total Prototypes including all Additional Variations
                </li>
                <li class="hanging-indent">
                    Documentation for Using and Integrating Scaffold into your Workflow
                </li>
                <li class="hanging-indent">
                    Twitter & Email Support
                </li>
                <li class="hanging-indent">
                    Free updates until Dec 2020
                </li>
                <li class="hanging-indent">
                    One hour video call to talk about Scaffold, how to make the most of it use it and how to use Scaffold into your workflow
                </li>
            </ul>
            <a class="cta-default-layout cta-secondary" data-product="9WL3" href="https://payhip.com/b/9WL3">Buy Team License</a>
        </div>
        <div class="pricing-card pricing-card-pro">
            <h3 class="text--brand-primary">
                Pro License:
                <span>
                    <s>$99.00</s>
                    $59.00</span>
            </h3>
            <ul>
                <li class="hanging-indent">
                    $59.00 launch price
                </li>
                <li class="hanging-indent">
                    1 Lifetime license for Scaffold 1.0
                </li>
                <li class="hanging-indent">
                    64 Unique Base Scaffold Prototypes with Animations
                </li>
                <li class="hanging-indent">
                    221 variations on the Base prototypes, offering a wide range of flexibility and options
                </li>
                <li class="hanging-indent">
                    285 Total Prototypes including all Additional Variations
                </li>
                <li class="hanging-indent">
                    Documentation for Using and Integrating Scaffold into your Workflow
                </li>
                <li class="hanging-indent">
                    Twitter & Email Support
                </li>
                <li class="hanging-indent">
                    Free updates until Dec 2020
                </li>
            </ul>
            <a class="cta-default-layout cta-primary" data-product="fpLe" href="https://payhip.com/b/fpLe">Buy Scaffold Now</a>
            <!-- <a class="cta-default-layout cta-primary" href="https://gum.co/YFtxV" rel="noopener" target="_blank">Buy Scaffold Now</a> -->
        </div>
    </div>
</section>
