<section class="social-share-parent">
  <ul class="social-share-list">
    <li class="card">
      <a
        class="main-link"
        href="https://twitter.com/share?text={{title}} on Scaffold Figma Prototyping by @jasontcrabtree&url=https://usescaffold.com/{{canonical}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;"
      >
        <svg
          aria-label="Twitter"
          class="social-icon"
          role="img"
          viewbox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect fill="#1da1f3" height="512" rx="15%" width="512" />
          <path
            d="M437 152a72 72 0 0 1-40 12 72 72 0 0 0 32-40 72 72 0 0 1-45 17 72 72 0 0 0-122 65 200 200 0 0 1-145-74 72 72 0 0 0 22 94 72 72 0 0 1-32-7 72 72 0 0 0 56 69 72 72 0 0 1-32 1 72 72 0 0 0 67 50 200 200 0 0 1-105 29 200 200 0 0 0 309-179 200 200 0 0 0 35-37"
            fill="#fff"
          /></svg
        >Share on Twitter</a
      >
    </li>
    <li class="card">
      <a
        class="main-link"
        href="https://www.facebook.com/sharer/sharer.php?u=https://usescaffold.com/{{canonical}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296'); return false;"
      >
        <svg
          aria-label="Facebook"
          class="social-icon"
          role="img"
          viewbox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect fill="#1877f2" height="512" rx="15%" width="512" />
          <path
            d="M355.6 330l11.4-74h-71v-48c0-20.2 9.9-40 41.7-40H370v-63s-29.3-5-57.3-5c-58.5 0-96.7 35.4-96.7 99.6V256h-65v74h65v182h80V330h59.6z"
            fill="#fff"
          /></svg
        >Post to Facebook</a
      >
    </li>
    <li class="card">
      <a
        class="main-link"
        href="https://news.ycombinator.com/submitlink?u=HTTP://usescaffold.com/{{canonical}}"
        onclick="window.open(this.href, 'hn-share', 'width=550,height=350'); return false;"
      >
        <svg
          aria-label="Hacker News"
          class="social-icon"
          role="img"
          viewbox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect fill="#f60" height="512" rx="15%" width="512" />
          <path
            d="M124 91h51l81 162 81-164h51L276 293v136h-40V293z"
            fill="#fff"
          /></svg
        >Post link to Hacker News</a
      >
    </li>
    <li class="card">
      <a
        class="main-link"
        href="https://pinterest.com/pin/create/button?url=https://usescaffold.com&description={{description}} &media={{image}}"
      >
        <svg
          aria-label="Pinterest"
          class="social-icon"
          role="img"
          viewbox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect fill="#bd081b" height="512" rx="15%" width="512" />
          <path
            d="m265 65c-104 0-157 75-157 138 0 37 14 71 45 83 5 2 10 0 12-5l3-18c2-6 1-7-2-12-9-11-15-24-15-43 0-56 41-106 108-106 60 0 92 37 92 85 0 64-28 116-70 116-23 0-40-18-34-42 6-27 19-57 19-77 0-18-9-34-30-34-24 0-42 25-42 58 0 20 7 34 7 34l-29 120a249 249 0 0 0 2 86l3-1c2-3 31-37 40-72l16-61c7 15 29 28 53 28 71 0 119-64 119-151 0-66-56-126-140-126z"
            fill="#fff"
          /></svg
        >Create pin on Pinterest</a
      >
    </li>
  </ul>
</section>
