<!-- <ul class="tweet-list-parent">
    {% for item in content.kindTweets %}
        <li class="tweet-list-item--style">
            {%- for tweet in item.tweetList -%}
                <a href="{{ tweet.tweetURL }}">
                    <h3>{{ tweet.tweetName }}</h3>
                    <p>{{ tweet.tweetContent }}</p>
                </a>
            {% endfor %}
        </li>
    {% endfor %}
</ul> -->
<ul class="tweet-list-parent">
    <li class="tweet-list-item--style">
        <a href="https://twitter.com/_TronVin_/status/1262879850991423488">
            <img alt="" src="https://pbs.twimg.com/profile_images/1190233865949982722/AqfASqck_400x400.jpg">
            <h3>Zoe</h3>
            <p>@zoe</p>
            <p>Tony Hawk landing at 900 at 48 years old is probably cooler than him doing it for the first time.</p>
        </a>
    </li>
    <li class="tweet-list-item--style">
        <a href="#">
            <h3>Simon</h3>
            <p>Hello Beer</p>
        </a>
    </li>
    <li class="tweet-list-item--style">
        <a href="#">
            <h3>Jay</h3>
            <p>Goodnight Beer</p>
        </a>
    </li>
    <li class="tweet-list-item--style">
        <a href="#">
            <h3>Zoe</h3>
            <p>Hello Summer</p>
        </a>
    </li>
</ul>