<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Scaffold: {{ title | default: metadata.siteName -}}</title>

  <link href="/reset.css" rel="stylesheet" />
  <link href="/style.css" rel="stylesheet" />

  <link href="https://use.typekit.net/hye8foj.css" rel="stylesheet" />
  <link href="/assets/favicon.png" rel="icon" type="image/png" />
  <link href="/assets/favicon.png" rel="icon" sizes="32x32" type="image/png" />
  <link href="/assets/favicon.png" rel="icon" sizes="96x96" type="image/png" />
</head>

<body>
  {%- include ./../components/nav.html -%}
  {{- content-}}
  {%- include ./../components/footer.html -%}

  <script defer src="/script/index.js"></script>
  <script type="text/javascript" src="https://payhip.com/payhip.js"></script>

  <!--     {% if page.url == '/blog/' %}
    <script defer src="/script/cardClick.js"></script>
    {% endif %} -->
</body>

</html>