<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Scaffold: {{title | default: metadata.siteName -}}</title>
    <link href="/reset.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    <link href="https://use.typekit.net/hye8foj.css" rel="stylesheet" />

    <link href="/assets/favicon.png" rel="icon" type="image/png" />
    <link
      href="/assets/favicon.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/assets/favicon.png"
      rel="icon"
      sizes="96x96"
      type="image/png"
    />
    {%- include ./../components/meta.html -%}
  </head>

  <body>
    {%- include ./../components/nav.html -%}
    <main class="content-width--layout">
      <h1>{{- title -}}</h1>
      <article class="flow-small flow-content">{{- content -}}</article>
    </main>
    {%- include ./../components/footer.html -%}

    <!-- <script defer src="/script/cardClick.js"></script> -->
    <script src="https://payhip.com/payhip.js" type="text/javascript"></script>
    <script defer src="/script/yall.mjs"></script>
    <script defer src="/script/index.js"></script>
  </body>
</html>
