<header class="nav-header">
  <nav class="nav nav-parent">
    <ul class="not-hanging nav-list-parent">
      <li class="nav-wordmark">
        <span class="nav-lockup">
          <a class="text--bold nav-wordmark" href="/">
            <img
              alt=""
              class="nav-logomark"
              src="/assets/favicon.png"
            />Scaffold</a
          >
        </span>
      </li>
      <li>
        <ul class="nav__page-links--hidden not-hanging nav-list-embedded">
          <li>
            <a href="/#uses">Uses Cases</a>
          </li>
          <li>
            <a href="/#price">Pricing</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="cta-default-layout cta-primary" href="/#price">Buy Now</a>
      </li>
    </ul>
  </nav>
</header>
